* {
  box-sizing: border-box;
}

.chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 600px;
  height: 510px;
  border-radius: 20px;
  background-color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.top_menu {
  background-color: #96c0bf;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #f9fbff;
  font-size: 20px;
  animation: bounce 2s infinite; /* Utiliser l'animation bounce avec une boucle infinie */
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}

.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #ffffff;
}

.top_menu .buttons .button.minimize {
  background-color: #ffffff;
  cursor: pointer;
}

.top_menu .buttons .button.maximize {
  background-color: #ffffff;
  cursor: pointer;
}
.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 330px;
  overflow: scroll;
}

.message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 1;
}

.message.left .avatar {
  background-color: #f5886e;
  float: left;
}

.message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}

.message.left .text_wrapper::after,
.message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}

.message.left .text {
  color: #c48843;
}

.message.right .avatar {
  background-color: #008069;
  float: right;
}

.message.right .text_wrapper {
  background-color: #00a884;
  margin-right: 20px;
  float: right;
}

.message.right .text_wrapper::after,
.message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #00a884;
}

.message.right .text {
  color: #ffffff;
}

.message.appeared {
  opacity: 1;
}

.message .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

.message .text_wrapper {
  display: inline-block;
  padding: 15px;
  border-radius: 8px;
  width: calc(100% - 220px);
  min-width: 100px;
  position: relative;
}

.message .text_wrapper::after,
.message .text_wrapper::before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center; /* Pour aligner les éléments horizontalement */
}

.chat_input_wrapper {
  flex: 1; /* Pour que la zone de texte occupe tout l'espace disponible */
  display: flex;
  align-items: center;
}

.message_input {
  flex: 1;
  margin-right: 10px; /* Espace entre la zone de texte et le bouton emoji */
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  padding: 0 20px;
  box-sizing: border-box;
}

.emoji_button {
  cursor: pointer;
  font-size: 24px;
}

.send_message {
  height: 50px;
  width: 100px; /* Ajustez la largeur automatiquement en fonction du contenu */
  border-radius: 25px;
  background-color: #788889;
  border: 2px solid #070707;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  margin-left: 10px; /* Espace entre la zone de texte et le bouton "Send" */
}

.send_message:hover {
  color: #a3d063;
  background-color: #fff;
}

.send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.emoji_panel {
  /* Styles du panneau emoji */
  position: absolute;
  bottom: 60px; /* Ajustez la valeur pour aligner le panneau emoji au-dessus de la zone de texte */
  right: 20px; /* Ajustez la valeur pour positionner le panneau emoji à droite */
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Espace entre les emojis */
  z-index: 999; /* Assurez-vous que le panneau emoji est au-dessus de la zone de texte */
}

.emoji {
  /* Styles des emojis individuels */
  cursor: pointer;
}

.message_template {
  display: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
